{
	"Port": 8083,
	"PlugIns": [
		{
			"FullName": "ArchBench.PlugIns.Register.RegisterPlugIn",
			"FileName": "C:\\Academics\\SoftwareArchitectures\\Projects\\ArchBench\\ArchBench.PlugIns.Register\\bin\\Debug\\netstandard2.0\\ArchBench.PlugIns.Register.dll",
			"Settings": {
				"Registry": "http://localhost:8081/"
			}
		},
		{
			"FullName": "ArchBench.PlugIns.Login.PlugInLogin",
			"FileName": "C:\\Academics\\SoftwareArchitectures\\Projects\\ArchBench\\ArchBench.PlugIns.Login\\bin\\Debug\\netstandard2.0\\ArchBench.PlugIns.Login.dll",
			"Settings": {
				"Redirect": ""
			}
		},
		{
			"FullName": "ArchBench.PlugIns.Hello.PlugInHello",
			"FileName": "C:\\Academics\\SoftwareArchitectures\\Projects\\ArchBench\\ArchBench.PlugIns.Hello\\bin\\Debug\\netstandard2.0\\ArchBench.PlugIns.Hello.dll",
			"Settings": {}
		}
	]
}